* {
    color: #d0d0d0;
    border: none;
}

QMainWindow, QDialog {
    background: #000000;
    color: #d0d0d0;
    border: none;
}

#taskBar {
    border-style: outset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-width: 2px;
    border-bottom-color: #303030;
    border-left-width: 2px;
    border-left-color: #303030;
    border-right-width: 2px;
    border-right-color: #303030;
    padding-left: 2px;
    padding-right: 2px;
}

#menuBar {
    border-style: outset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-width: 2px;
    border-top-color: #303030;
    border-left-width: 2px;
    border-left-color: #303030;
    border-right-width: 2px;
    border-right-color: #303030;
    padding-left: 2px;
    padding-right: 2px;
}

#volumeBar {
    background-color: #404040;
    border-style: outset;
    border-radius: 5px;
    border-width: 2px;
    border-color: #d0d0d0;
    padding: 2px;
}

QProgressBar {
    background: #000000;
    border: 2px outset #d0d0d0;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 32px;
}

QProgressBar::chunk {
    background: #900000;
    margin: 0.5px;
    width: 20px;
    border-radius: 2px;
}

MenuItem {
    color: #a0a0a0;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    min-height: 35px;
    max-height: 35px;
    min-width: 220px;
    max-width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
}

MenuItem[selected="true"] {
    color: #e0e0e0;
    border: 2px solid #ffa500;
    margin: 0;
    border-radius: 5px;
    font-size: 26px;
    font-weight: normal;
}
#qRadioIcons {
    font-size: 12px;
    font-weight: bold;
}

#lbMenuName {
    font-size: 14px;
    font-weight: bold;
}

QPushButton:disabled {
    border: 2px solid #606060;
    border-radius: 5px;
    padding: 2px 5px 2px 2px;
    background-color: #222222;
    color: #000000;
    text-decoration: line-through;
}

QPushButton {
    border: 2px solid #606060;
    border-radius: 5px;
    padding: 2px 5px 2px 2px;
}
